/*.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-banner {
  width: 1000px;
  margin: 8px auto;
  padding-bottom: 24px;
  height: 300px;
  text-align: left;

}

#profil {
  box-shadow: 0 3px 20px rgba(0,0,0,0.1);
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  height: 500px;
  width: 120px;
  position: fixed;
  top: 16px;
  align-items: center;
}


.profilepic {
width: 90px;
height: 90px;
/*left: 24px;
top: 16px;*/
object-fit: cover;
/*position: fixed;
overflow-y: scroll;*/
box-shadow: 0 3px 20px rgba(0,0,0,0.1);
border: white 1px solid;
border-radius: 50%;
align-items: center;
  }

.container {
  width: 100%;
  /*margin: 8px auto;
  padding-bottom: 24px;*/
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
/*  background-image: url(images/fond2.png)*/

}

.lat-container {
  text-align: center;
  margin: 8px;
}

.social {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 12px;

}


p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;

}

h1 {
font-size: 48px;
font-weight: bold;
margin-top: 20px;
margin-bottom: 10px;
font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: 'Oswald', sans-serif;
}

h3 {
font-family: 'Oswald', sans-serif;
 }

.presentation {
  width: 700px;
  margin: 24px auto;
  text-align: justify;
  float: right;
  padding-top: 60px;
  float: right;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  padding: 40px;
  border-radius: 3px;
}

.competences {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  justify-content: space-between;
  text-align: center;
 }

 .competence {
  box-shadow: 0 3px 20px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 5px;
 }

.piccompetence {
  width: 60px;
}

.titre {
  padding: 16px;
  margin-bottom: 48px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.degrade {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,45,189,1) 51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#github {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

#github:hover {
  color: #24292e;
}

#linkedin {
  text-decoration: none;
  font-size: 20px;
}

.menu {
  margin-top: 32px;
  text-align: center;
}
.menu a{
  font-size: 16px;
  font-weight: 600;
  margin-bottom:16px;
  text-decoration: none;
  color: #292929;
  font-family: 'Oswald', sans-serif;

}

.menu a:hover {
  text-decoration: none;
  color: #757575;
}

.projets {
  width: 500px;
  height: 400px;
}

.propos {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#a-propos {
  padding-top: 10px;
  padding-bottom: 70px;
  display: block;
}

#a-propos h1 {
font-size: 30px;
font-weight: bold;
margin-top: 20px;
margin-bottom: 10px;
font-family: 'Oswald', sans-serif;
padding-top: 24px;
padding-bottom: 24px;
}*/


