.propos {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#a-propos {
  padding-top: 10px;
  padding-bottom: 70px;
  display: block;
}

#a-propos h1 {
font-size: 30px;
font-weight: bold;
margin-top: 20px;
margin-bottom: 10px;
font-family: 'Oswald', sans-serif;
padding-top: 24px;
padding-bottom: 24px;
}

.photo {
width: 300px;
height: 300px;
/*left: 24px;
top: 16px;*/
object-fit: cover;
/*position: fixed;
overflow-y: scroll;*/
box-shadow:
  inset 0 0 15px rgba(55, 84, 170,0),
  inset 0 0 20px rgba(255, 255, 255,0),
  7px 7px 15px rgba(55, 84, 170,.15),
  -7px -7px 20px rgba(255, 255, 255,1),
  inset 0px 0px 4px rgba(255, 255, 255,.2);

/*border-radius: 50%;*/
align-items: center;
  }
