.cards {
  display: flex;
  justify-content: space-around;
  background-color: #f1f3f6;
  margin-top: 100px;
}

.acard {
text-align: center;
padding-top: 20px;
background-color: #f1f3f6;
box-shadow:
  inset 0 0 15px rgba(55, 84, 170,0),
  inset 0 0 20px rgba(255, 255, 255,0),
  7px 7px 15px rgba(55, 84, 170,.15),
  -7px -7px 20px rgba(255, 255, 255,1),
  inset 0px 0px 4px rgba(255, 255, 255,.2);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
 }

.acard img {
  width: 80px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .cards {
    margin-top: 350px;
  }
}

@media screen and (max-width: 1080px) {
  .cards {
    margin-top: 350px;
  }
}
