.competences {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  justify-content: space-evenly;
  text-align: center;
  padding: 30px;
 }

 .competence {
  box-shadow:
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
  padding: 10px;
  border-radius: 5px;
 }

.piccompetence {
  width: 60px;
}

#competences h1 {
  font-size: 30px;
  font-weight: bold;
  /*margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;*/
 /* padding-top: 24px;
  padding-bottom: 24px;*/
}

/*@media (max-width: 768px) {
  .competences {
    grid-template-columns: 1fr 2fr;
  }
}*/

@media (max-width: 500px) {
  .competences {
    grid-gap: 25px;
  }
}
